<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhangping.facelovestudio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <meta-data
        android:name="RONG_CLOUD_APP_KEY"
        android:value="pkfcgjstfb9p8" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.example.zhangping.App"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.registerinfoactivity"
            android:label="@string/title_activity_registerinfoactivity" />
        <activity
            android:name=".activity.tabActivity"
            android:label="@string/title_activity_tab"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity android:name=".Base.BaseActivity" />
        <activity android:name=".activity.modifyNicknameActivity" />
        <activity android:name=".activity.modifySchoolActivity" />
        <activity android:name=".activity.modifyPersonSginActivity" />
        <activity android:name=".activity.AboutusActivity" />
        <activity android:name=".activity.DetailInformationActivity" />
        <activity android:name=".activity.CampusCenterActivity" />
        <activity android:name=".activity.newfriendActivity" />
        <activity android:name=".faceup.boyFaceupActivity" />
        <activity android:name=".faceup.girlFaceupActivity"></activity>
        <activity android:name=".activity.XingXiangActivity"></activity>
    </application>

</manifest>
